<div class="d-flex justify-content-between flex-wrap nowrap flex-md align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Customer</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/add" class="btn btn-sm btn-ouline-secondary">?</a>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb-item">
                    <li class="breadcrumb-item"> <a href="/"> Dashboard</a></li>
                    <li class="breadcrumb-item active">New Customer</li>
                </ol>

            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>UserId</b>
        </div>
    </div>
</div>